# Perfil ativo (dev | prod)
SPRING_PROFILES_ACTIVE=

# Servidor
SERVER_PORT=

# Integração Cal.com
CALCOM_API_KEY=

# Integração Monolito
MONOLITH_BASE_URL=
MONOLITH_API_TOKEN=
MONOLITH_ADVERTISEMENTS_PATH=

USER_SERVICE_BASE_URL=http://localhost:8081/api

# Microserviço de autenticação
AUTH_SERVICE_BASE_URL=

# Scheduler de sincronização
SYNC_CRON=
SYNC_ENABLED=

# Banco de dados (apenas para profile prod)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_QUEUE_ESTATE_CHANGED=cal-service.estate-changed
RABBITMQ_EXCHANGE_ESTATE=estate.exchange
